<p *ngIf="!readData"> Загрузка ... </p>
<p *ngIf="readData?.length === 0"> Пустой список </p>
<div *ngIf="readData?.length > 0" class="container mt-5">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Тип</th>
      <th scope="col">Производитель</th>
      <th scope="col">Модель</th>
      <th scope="col">Инвентарный номер</th>
      <th scope="col">Серийный номер</th>
      <th scope="col">Дата поставки</th>
      <th scope="col">Тест</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{readData[0].id}}</td>
      <td>{{readData[0].name_type_equipment}}</td>
      <td>{{readData[0].name_manufacturer}}</td>
      <td>{{readData[0].model}}</td>
      <td>{{readData[0].inventory_number}}</td>
      <td>{{readData[0].serial_number}}</td>
      <td>{{readData[0].delivery_date  | date: 'dd/MM/yyyy'}}</td>
      <td>{{Test}}</td>
    </tr>
    </tbody>
  </table>


  <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown">
    Дополнительно
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" [routerLink]="['/single-equipment/' + readData[0].id + '/location']">История движения</a></li>
    <li><a class="dropdown-item" href="#">Характеристики</a></li>
    <li><a class="dropdown-item" [routerLink]="['/single-equipment/' + readData[0].id + '/repair']" >Ремонт</a></li>
  </ul>
  <router-outlet></router-outlet>

</div>
