
<div class="container mt-5" [ngSwitch]="test">

  <ng-container *ngSwitchCase="1">
<!--
  <table class="table" >
    <thead>
    <tr>
      <th scope="col">Дата</th>
      <th scope="col">Стоимость</th>
      <th scope="col">Что было сделано</th>
    </tr>
    </thead>
    <tbody>
    <tr id = "tr" >
      <td></td>
    </tr>
    </tbody>
  </table>
  <a [routerLink]="['/add-repair-equipment/']" class="btn btn-success"> <i class="bi bi-plus-circle"></i>Добавить запись</a>

-->
    <table>
      <thead>
      <tr>
        <th>Характеристики</th><th>Модель</th><th>Параметры</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let us of monitor">
        <td>{{us.name}}</td>
        <td>{{us.model}}</td>
        <td>{{us.parameter}}</td>
      </tr>
      </tbody>
    </table>
    <a *ngIf="!monitor" [routerLink]="['/add-characteristic/'+ getparamid]" class="btn btn-success"> <i class="bi bi-plus-circle"></i>Добавить запись</a>

  </ng-container>


  <ng-template ngSwitchCase="2">
    <table class="table" >
      <thead>
      <tr>
        <th>Характеристики</th><th>Модель</th><th>Параметры</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let us of monitor">
        <td>{{us.name}}</td>
        <td>{{us.model}}</td>
        <td>{{us.parameter}}</td>
      </tr>
      </tbody>

      <!--Условие ngIf нужно, если записей нет, тогда выводим кнопку, если запись есть, тогда уже характеристики созданы-->
      <a *ngIf="!monitor" [routerLink]="['/add-characteristic/'+ getparamid]" class="btn btn-success"> <i class="bi bi-plus-circle"></i>Добавить запись</a>

    </table>
  </ng-template>

</div>

