
<div class="container mt-5">
  <h3>Журнал движения оборудования</h3>
  <table class="table" >
    <thead>
    <tr>
      <th scope="col">Дата</th>
      <th scope="col">Тип операции</th>
      <th scope="col">Филиал</th>
      <th scope="col">Отдел</th>
      <th scope="col">Фамилия</th>
      <th scope="col">Имя</th>
      <th scope="col">Отчество</th>

    </tr>
    </thead>
    <tbody>
    <tr id = "tr" *ngFor="let us of readData">
      <td>{{us.date  | date: 'dd/MM/yyyy'}}</td>
      <td>{{us.name_operation}}</td>
      <td>{{us.name_rnu}}</td>
      <td>{{us.name_department}}</td>
      <td>{{us.family_name}}</td>
      <td>{{us.name}}</td>
      <td>{{us.dad_name}}</td>

    </tr>
    </tbody>
  </table>


  <a [routerLink]="['/add-location-equipment/' + getparamid]" class="btn btn-success"> <i class="bi bi-plus-circle"></i>Добавить движение</a>



</div>
