<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Регистрация</h1>
        </div>
        <form [formGroup]="SignUpForm">
          <div class="mb-3">
            <label class="form-label">Фамилия</label>
            <input type="text" class="form-control" formControlName="family_name">
          </div>
          <div class="mb-3">
            <label  class="form-label">Имя</label>
            <input type="text" class="form-control" formControlName="name">
          </div>
          <div class="mb-3">
            <label class="form-label">Отчество</label>
            <input type="text" class="form-control" formControlName="dad_name">
          </div>
          <div class="mb-3">
            <label  class="form-label">Филиал</label>
            <input type="text" class="form-control" formControlName="id_department">
          </div>
          <div class="mb-3">
            <label class="form-label">Отдел</label>
            <input type="text" class="form-control" formControlName="id_rnu">
          </div>
          <div class="mb-3">
            <label  class="form-label">Логин</label>
            <input type="text" class="form-control" formControlName="login">
          </div>
          <div class="mb-3">
            <label class="form-label">Пароль</label>
            <input type="password" class="form-control" formControlName="password">
          </div>
          <button class="btn btn-primary" (click)="SignUpNewUser">Зарегистрироваться</button>
        </form>
        <a routerLink="/login">Уже есть аккаунта? Нажмите для входа</a>
      </div>
    </div>
  </div>
</div>
