<div class="container mt-5">

  <form [formGroup]="userForm">

    <!--<select>
      <option *ngFor="let operation of operationList" [value]="operation.id"> {{operation.name}} </option>
    </select>
    -->

    <div class="col-lg-6 mt-2">
      <input type="date" class="form-control" formControlName="date"
             placeholder="Дата возможно сделать текущую и не ставить в выбор">
    </div>


    <div class="col-lg-6 mt-2">
      <select type="text" class="form-control" formControlName="id_type_of_operation" placeholder="Тип">
        <option value="" disabled selected>Выберите тип</option>
        <option *ngFor="let us of readData"> {{us.name_operation}} </option>

        <!--<input type="text" class="form-control" formControlName="id_type_of_equipment" placeholder="Тип">-->
      </select>
    </div>

    <div class="col-lg-6 mt-2">
      <ng-select2 type="text" class="form-control" formControlName="id_staff" placeholder="Кому поставили">
        <option value="" disabled selected>Выберите тип</option>
        <option placeholder="'Demo with options'" *ngFor="let us of readData1"> {{us.family_name}}
          {{us.name}}
          {{us.dad_name}}
          {{us.name_department}}
          {{us.name_rnu}}</option>
      </ng-select2>
    </div>

    <div class="col-lg-4 mt-2">
      <!--      *ngIf="!getparamid"-->
      <button class="btn btn-primary btn-sm">Добавить</button>
    </div>
  </form>


</div>
