.card{
  margin-top: 10px;
  border: none;
  width: 500px;
  padding: 40px;
  position: absolute;
  /*top: 50%;*/
  left: 50%;
  transform: translate(-50%, 20%);
  background: rgb(65, 142, 213);
}

.card h1,h6{
  color: aliceblue;
}

label{
  color: aliceblue;
}

a{
  padding: 10px;
  color: aliceblue;
}
