<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Вход</h1>
          <h6>Введите логин и пароль</h6>
        </div>
        <form [formGroup]="LoginForm">
          <div class="mb-3">
            <label class="form-label">Логин</label>
            <input type="text" class="form-control" formControlName="login">
          </div>
          <div class="mb-3">
            <label class="form-label">Пароль</label>
            <input type="password" class="form-control" formControlName="password">
          </div>
          <button class="btn btn-primary" (click)="Login()">Войти</button>
        </form>
        <a routerLink="/signup">Нет аккаунта? Нажмите для регистрации</a>
      </div>
    </div>
  </div>
</div>
